@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	@apply bg-white text-mino-black dark:bg-mino-black dark:text-gray-100 transition-colors duration-300;
	overflow-x: hidden;
}

::selection {
	background-color: #d4af37;
	color: white;
}
